


<form method="POST" action="/celebrities">
    <label>Name
        <input type="text" name="name" placeholder="name">
        <input type="text" name="occupation" placeholder="occupation">
        <input type="text" name="catchPhrase" placeholder="Catch Phrase">
        <input type="submit" value="create">
    </label>
</form>