<div>
    <h2>{{celebrity._doc.name}}</h2>
    <p>{{celebrity._doc.occupation}}</p>
    <p>{{celebrity._doc.catchPhrase}}</p>


    <a href="/celebrities">Back</a>
    <a href="/celebrity/{{celebrity.id}}/edit"> Edit</a>
</div>