<form method="POST" action="/movies">
    <label>Name
        <input type="text" name="title" placeholder="title">
        <input type="text" name="genre" placeholder="genre">
        <input type="text" name="plot" placeholder="plot">
        <input type="submit" value="create">
    </label>
</form>